@charset "UTF-8";

section {
    width: 87%;
    height: 94%;
    float: right;
    overflow: auto;
}

#article_a{
	background-color: beige;
	width: 90%;
    height: 40vh;
    margin: 5% auto;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 15% 85%;
}

#article_a h1{
	grid-column-start: 1;
	grid-column-end: 4;
	line-height: 1.1rem;
}

#article_a > div{
	width: 80%;
	height: 100%;
	margin: auto;
	background-color: #F7F9FA;
	position: relative;
}

#article_a > div > div{
	clear:both;
	overflow : hidden;
	width: 80%;
	margin: 1rem auto;
}

#article_a > div > div > span:first-child{
	float:left;
	color: blue;
}

#article_a > div > div > span:last-child{
	float:right;
	color: red;
}


