@charset "UTF-8";

section {
    width: 87%;
    height: 94%;
    float: right;
    overflow: auto;
}

#article_a{
	width: 90%;
	max-width: 1080px;
    height: 40vh;
    margin: 5% auto;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-row-gap: 2rem;
}

#article_a h1{
	grid-column-start: 1;
	grid-column-end: 4;
	line-height: 1.1rem;
}

#article_a > div{
	width: 80%;
	height: 100%;
	margin: auto;
	background-color: #F7F9FA;
	position: relative;
}

#article_a > div > div{
	clear:both;
	overflow : hidden;
	width: 80%;
	margin: 1rem auto;
}

#article_a > div > .div_title{
	overflow : hidden;
	text-align: left;
	font-weight: bold;
	font-size: 1rem;
}

#article_a > div > .div_time {
	overflow : hidden;
	text-align: right;
	font-size: 1.5rem;
}

#article_a > .div_apply > div{
	height: 25%;
}

.div_btn{
	text-align: center;
}

.btn_click{
	position: relative;
    width: 130px;    
    height: 50px;
    line-height: 50px;
    display: inline-block;
    background: #3498DB;
    border: none;
    text-decoration: none;
    color: white;
    margin: 0 auto;
}

.btn_click:hover{
	color: #3498DB;
	background: white;
	border: 1px solid #3498DB;
	transition-duration: 0.5s;
}


#article_c{
	width: 90%;
	max-width: 1080px;
    margin: 5% auto;
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 2rem;
}

#article_c h1{
	line-height: 1.1rem;
}

.div_restin_title{
	width: 100%;
	margin: auto;
	position: relative;
	padding: 20px 0px 20px 10px;
	background-color: #F7F9FA;
}

.div_restin_closer{
	clear: both;
	overflow: hidden;
}

.restin_ul_title{
	float: left;
}

.restin_ul_title > li {
	float: left;
	font-size: 18px;
}

.restin_ul_title > li:nth-child(n+2){
	margin-left: 50px;	
}

.div_restin_contents{
	width: 100%;
	margin: 0px;
	padding: 0px 0px 5px 10px;
	position: relative;
}

.div_restin_contents > div{
	clear: both;
	overflow: hidden;
	margin-left: 66px;
}

.div_restin_contents > div{
	padding-top: 0.5rem;
	border-bottom: 1px solid black;
}

.div_restin_contents > div > ul{
	float: left;
	font-size: 18px;
}


.div_restin_contents > div > ul > li{
	float: left;
	font-size: 18px;
}

.div_restin_contents > div > ul > li:nth-child(n+2){
	margin-left: 50px;	
}

#article_d{
	width: 90%;
	max-width: 1080px;
    margin: 5% auto;
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 2rem;
}

#article_d h1{
	line-height: 1.1rem;	
}

.div_home_title{
	width: 100%;
	margin: auto;
	position: relative;
	padding: 20px 0px 20px 10px;
	background-color: #F7F9FA;
}

.div_home_closer{
	clear: both;
	overflow: hidden;
}

.restin_ul_title{
	float: left;
}

.home_ul_title > li {
	float: left;
	font-size: 18px;
}

.home_ul_title > li:nth-child(n+2){
	margin-left: 50px;	
}

.div_home_contents{
	width: 100%;
	margin: 0px;
	padding: 0px 0px 5px 10px;
	position: relative;
}

.div_home_contents > div{
	clear: both;
	overflow: hidden;
	margin-left: 66px;
}

.div_home_contents > div{
	padding-top: 0.5rem;
	border-bottom: 1px solid black;
}

.div_home_contents > div > ul{
	float: left;
	font-size: 18px;
}


.div_home_contents > div > ul > li{
	float: left;
	font-size: 18px;
}

.div_home_contents > div > ul > li:nth-child(n+2){
	margin-left: 50px;	
}

#article_e{
	width: 90%;
	max-width: 1080px;
    margin: 5% auto;
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 2rem;	
}

#article_e h1{
	line-height: 1.1rem;	
}

.div_wh_title{
	width: 100%;
	margin: auto;
	position: relative;
	padding: 20px 0px 20px 10px;
	background-color: #F7F9FA;
}

.div_wh_closer{
	clear: both;
	overflow: hidden;
}

.wh_ul_title{
	float: left;
}

.wh_ul_title > li {
	float: left;
	font-size: 18px;
}

.wh_ul_title > li:nth-child(n+2){
	margin-left: 50px;	
}

.div_wh_contents{
	width: 100%;
	margin: 0px;
	padding: 0px 0px 5px 10px;
	position: relative;
}

.div_wh_contents > div{
	clear: both;
	overflow: hidden;
	margin-left: 66px;
}

.div_wh_contents > div{
	padding-top: 0.5rem;
	border-bottom: 1px solid black;
}

.div_wh_contents > div > ul{
	float: left;
	font-size: 18px;
}


.div_wh_contents > div > ul > li{
	float: left;
	font-size: 18px;
}

.div_wh_contents > div > ul > li:nth-child(n+2){
	margin-left: 50px;	
}
