@charset "UTF-8";

section {
    width: 87%;
    height: 94%;
    float: right;
    overflow: auto;
}

#article_a{
	width: 90%;
	max-width: 1080px;
    height: 40vh;
    margin: 5% auto;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-row-gap: 2rem;
}

#article_a h1{
	grid-column-start: 1;
	grid-column-end: 4;
	line-height: 1.1rem;
}

#article_a > div{
	width: 80%;
	height: 100%;
	margin: auto;
	background-color: #F7F9FA;
	position: relative;
}

#article_a > div > div{
	clear:both;
	overflow : hidden;
	width: 80%;
	margin: 1rem auto;
}

#article_a > div > .div_title{
	overflow : hidden;
	text-align: left;
	font-weight: bold;
	font-size: 1rem;
}

#article_a > div > .div_time {
	overflow : hidden;
	text-align: right;
	font-size: 1.5rem;
}

.div_btn{
	text-align: center;
}

.btn_click{
	position: relative;
    width: 130px;    
    height: 50px;
    line-height: 50px;
    display: inline-block;
    background: #3498DB;
    border: none;
    text-decoration: none;
    color: white;
    margin: 0 auto;
}

.btn_click:hover{
	color: #3498DB;
	background: white;
	border: 1px solid #3498DB;
	transition-duration: 0.5s;
}


#article_c{
	width: 90%;
	max-width: 1080px;
    margin: 5% auto;
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 2rem;
}

#article_c h1{
	line-height: 1.1rem;
}

.div_restin_title{
	width: 100%;
	margin: auto;
	position: relative;
	padding: 20px 0px 20px 10px;
	background-color: #F7F9FA;
}

.div_restin_closer{
	clear: both;
	overflow: hidden;
}

.restin_ul_title{
	float: left;
}

.restin_ul_title > li {
	float: left;
	font-size: 18px;
}

.restin_ul_title > li:nth-child(n+2){
	margin-left: 50px;	
}

.div_restin_contents{
	width: 100%;
	margin: 0px;
	padding: 0px 0px 5px 10px;
	position: relative;
}

.div_restin_contents > div{
	clear: both;
	overflow: hidden;
	margin-left: 66px;
}

.div_restin_contents > div{
	padding-top: 0.5rem;
	border-bottom: 1px solid black;
}

.div_restin_contents > div > ul{
	float: left;
	font-size: 18px;
}


.div_restin_contents > div > ul > li{
	float: left;
	font-size: 18px;
}

.div_restin_contents > div > ul > li:nth-child(n+2){
	margin-left: 50px;	
}

.div_restin_paging{
	width: 100%;
	margin: 0px;
	padding: 0px 0px 5px 10px;
	position: relative;
	display: flex;
}

.div_restin_paging > ul{
	clear:both;
	margin:25px auto 0;
    padding:0;
    justify-content: center;
}

.div_restin_paging > ul > li {
    list-style:none;
    float:left;
    margin:0 2px;
}

.div_restin_paging ul > li > a {
    display:block;
    width:10px;
    height:10px;
    text-indent:-10000px;
    background: gray;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.a_current{
	background: blue;
}

#article_d{
	width: 90%;
	max-width: 1080px;
    margin: 5% auto;
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 2rem;
}

#article_d h1{
	line-height: 1.1rem;	
}

.div_home_title{
	width: 100%;
	margin: auto;
	position: relative;
	padding: 20px 0px 20px 10px;
	background-color: #F7F9FA;
}

.div_home_closer{
	clear: both;
	overflow: hidden;
}

.restin_ul_title{
	float: left;
}

.home_ul_title > li {
	float: left;
	font-size: 18px;
}

.home_ul_title > li:nth-child(n+2){
	margin-left: 50px;	
}

.div_home_contents{
	width: 100%;
	margin: 0px;
	padding: 0px 0px 5px 10px;
	position: relative;
}

.div_home_contents > div{
	clear: both;
	overflow: hidden;
	margin-left: 66px;
}

.div_home_contents > div{
	padding-top: 0.5rem;
	border-bottom: 1px solid black;
}

.div_home_contents > div > ul{
	float: left;
	font-size: 18px;
}


.div_home_contents > div > ul > li{
	float: left;
	font-size: 18px;
}

.div_home_contents > div > ul > li:nth-child(n+2){
	margin-left: 50px;	
}

.div_home_paging{
	width: 100%;
	margin: 0px;
	padding: 0px 0px 5px 10px;
	position: relative;
	display: flex;
}

.div_home_paging > ul{
	clear:both;
	margin:25px auto 0;
    padding:0;
    justify-content: center;
}

.div_home_paging > ul > li {
    list-style:none;
    float:left;
    margin:0 2px;
}

.div_home_paging ul > li > a {
    display:block;
    width:10px;
    height:10px;
    text-indent:-10000px;
    background: gray;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#article_e{
	width: 90%;
	max-width: 1080px;
    margin: 5% auto;
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 2rem;	
}

#article_e h1{
	line-height: 1.1rem;	
}

.div_wh_title{
	width: 100%;
	margin: auto;
	position: relative;
	padding: 20px 0px 20px 10px;
	background-color: #F7F9FA;
}

.div_wh_closer{
	clear: both;
	overflow: hidden;
}

.wh_ul_title{
	float: left;
}

.wh_ul_title > li {
	float: left;
	font-size: 18px;
}

.wh_ul_title > li:nth-child(n+2){
	margin-left: 50px;	
}

.div_wh_contents{
	width: 100%;
	margin: 0px;
	padding: 0px 0px 5px 10px;
	position: relative;
}

.div_wh_contents > div{
	clear: both;
	overflow: hidden;
	margin-left: 66px;
}

.div_wh_contents > div{
	padding-top: 0.5rem;
	border-bottom: 1px solid black;
}

.div_wh_contents > div > ul{
	float: left;
	font-size: 18px;
}


.div_wh_contents > div > ul > li{
	float: left;
	font-size: 18px;
}

.div_wh_contents > div > ul > li:nth-child(n+2){
	margin-left: 50px;	
}

.li_no_xaList{
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	margin-top: 1rem;
}

.notable{
	cursor:not-allowed;
	background: #CCC;
}

.modal_wrapper {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}

.btn_tablink.on{
    background-color: #ddd;
    border-color: #ddd;
}

.div_tabcontent.on{
    display: block;
}

.modal_content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 25%;
}

.div_tab{
    width: 100%;
}

.btn_tablink{
    width: 50%;
    padding: 1rem 0 1rem 0;
    border: 1px solid #ccc;
	background-color: #ccc;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.74);
}

.btn_tablink:hover{
	cursor: pointer;
	background-color: #ddd;
    border-color: #ddd;
	transition-duration: 0.3s;
}

.div_tabcontent{
    width: 100%;
    padding: 20px 20px 50px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
}

.div_tabcontent > form{
    width: 100%;
}

.div_tabcontent > form >div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#div_m_restapply_content > label, input{
    display: block;
    width: 50%;
}

#div_m_restapply_content > label{
    margin-bottom: 2%;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.74);
}

#select_restReason{
    display: block;
    width: 51.5%;
    margin-bottom: 5%;
    padding: 5px 2px;
}

#from_apl{
    text-align: center;
    cursor: default;
    border: none;
    margin-bottom: 5%;
    background-color: rgba(204, 204, 204, 0.192);
    color: rgba(0, 0, 0, 0.74);
    font-weight: bold;
    padding: 5px 2px;
}

#xaStart{
    margin-bottom: 5%;
    padding: 5px 2px;
}

#xaEnd{
    padding: 5px 2px;
}

#div_m_whomeapply_content > label, input{
    display: block;
    width: 50%;
}

#div_m_whomeapply_content > label{
    margin-bottom: 2%;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.74);
}

#whStart{
    margin-bottom: 5%;
    padding: 5px 2px;
}

#whEnd{
    padding: 5px 2px;
}

.div_tabcontent button{
    padding: 0 1rem 0 1rem;
    margin-top: 15%;
	text-align: center;
	border: 1px solid #389dff;
	background-color: #389dff;
	font-size: 1rem;
}
