@charset "UTF-8";
/*reset 초기화*/
* {
	padding: 0;
	margin: 0;
}
body {
	width: 100vw;
	height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #172b4d;
}
/*세로*/
/*스마트폰*/
@media only screen and (max-width:  767px) and (orientation: portrait){
	html{font-size: 10px;}
/*태블릿 pc*/
@media only screen and (min-width:  768px) and (max-width: 959px) and (orientation: portrait){
	html{font-size: 13px;}
}
/*데스크탑*/
@media only screen and (min-width:  960px) and (orientation: portrait){
	html{font-size: 16px;}
}
/*가로*/
/*스마트폰*/
@media only screen and (max-width:  767px) and (orientation: portrait) and (orientation: landscape){
	html{font-size: 8px;}
}
/*태블릿 pc*/
@media only screen and (min-width:  768px) and (max-width: 959px) and (orientation: landscape){
	html{font-size: 13px;}
}
/*데스크탑*/
@media only screen and (min-width:  960px) and (orientation: landscape){
	html{font-size: 16px;}
}