@charset "UTF-8";

h3{
	font-size : 2.5rem;
	padding-top : 5%;
	padding-bottom : 6%;
	padding-left : 20%;
}
section{
	padding-left:20%;
}

#divImg{
	float:left;
	padding-left:10%;
	padding-top:5%;
	height:20rem;
}

#divInformation {
	float:left;
	padding-left:5%;
	padding-right:20rem;
}

.rBtn {
	font-size:2rem;
	background-color:white;
	border:none;
	cursor:pointer;
}

#regist {
	padding-left:30%;
	padding-right:3rem;
}

#divBtn{
	padding-bottom:5%;
}
.inf{
	display:inline-block;
	text-align:left;
	width:10rem;
}

.inf2{
	display:inline-block;
	text-align:left;
	margin-right:5rem;
	width:12rem;
}