@charset "UTF-8";

h3{
	font-size : 2.5rem;
	padding-top : 5%;
	padding-bottom : 6%;
	padding-left : 20%;
}

section {
	font-size:1.5rem;
	padding-left:40%;
	padding-bottom:6%;
	text-align:left;
	line-height:5rem;
}

input {
	font-size:1.5rem;
	backgorund:#E8F0FE;
	border:0.1rem solid skyblue;
}

input:hover {
	
}

select {
	border:0.1rem solid skyblue;
	font-size:1.5rem;
}
button {
	font-size:1.5rem;
	border:0.1rem solid skyblue;
	background:white;
	padding-left:45%;
}