@charset "UTF-8";

   table input{
        font-size: 30px;
        width: 100%;
        height: 100%; 
        border: none; 
        text-align: center;
    }

    #button{
        text-align: center;
        padding-left: 210px;
        margin-bottom: 40px;
    }

    button {
        border-radius: 8px;
        background: none;
        font-size: 30px;
    }