@charset "UTF-8";
section {
    width: 87%;
    height: 94%;
    float: right;
    overflow: auto;
}
#a1{
    width: 90%;
    height: 40%;
    margin: 1% auto;
}
#a2{
    width: 90%;
    height: 40%;
    margin: 2% auto 1% auto;
}
.mobileTitle{
    display: none;
}
.mainTitle{
    display: inline-block;
    width: 28%;
    font-size: 1.4rem;
    margin: 1% 2%;
}
#todayWork, #myInfo, #restInfo{
    background-color: #F7F9FA;
    border-radius: 0.6rem;
    float: left;
    width: 28%;
    height: 100%;
    margin: 0 2%;
}
/*myInfo*/
#myInfo{
    text-align: center;
    overflow: auto;
}
#myInfo img{
    display: block;
    width: 20%;
    margin: 1rem auto;
    border-radius: 3rem;
}
#miName{
    margin: 1rem auto;
}
#miHour{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 8%;
    margin: 1rem auto;
    line-height: 2.2rem;
    font-size: 1rem;
    overflow: auto;
}

#miToday{
    clear: both;
    width: 80%;
    height: 8%;
    margin: 1rem auto;
    line-height: 1.8rem;
    font-size: 0.8rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
#checkin_btn{
	border: none;
	background-color: inherit;
	width: 100%;
	height: 100%;
}
#checkin_btn:hover{
	border: none;
	cursor: pointer;
}
#miGo{
    float: left;
    background-color: lightgray;
    border-radius: 0.2rem;
    width: 20%;
    height: 100%;
}
#miGoTime{
    float: left;
    background-color: white;
    border-radius: 0.2rem;
    width: 30%;
    height: 100%;
    line-height: 2.2rem;
    font-size: 1rem;
    overflow: hidden;
    text-align: center;
}
#miOut{
    float: left;
    background-color: lightgray;
    border-radius: 0.2rem;
    width: 20%;
    height: 100%;
}
#miOutTime{
    float: left;
    background-color: white;
    border-radius: 0.2rem;
    width: 30%;
    height: 100%;
    line-height: 2.2rem;
    font-size: 1rem;
    overflow: hidden;
    text-align: center;
}
#miWeekHour{
    clear: both;
    font-size: 0.8rem;
}
#miMonthHour{
    font-size: 0.8rem;
}
progress {
    -webkit-appearance: none;
    width: 80%;
    margin: 0.6rem;
}
::-webkit-progress-bar {
    background-color: white;
    border-radius: 1rem;
    height: 0.7rem;
}
::-webkit-progress-value {
    background-color: #CFE4ED;
    border-radius: 1rem;
}
/*a2*/
#pjTitle{
    display: inline-block;
    width: 62%;
    font-size: 1.4rem;
    margin: 1%;
}
#msgTitle{
    display: inline-block;
    width: 30%;
    font-size: 1.4rem;
    margin: 1%;
}
/*myProject*/
#myProject{
    background-color: #F7F9FA;
    border-radius: 0.6rem;
    clear: both;
    float: left;
    width: 62%;
    height: 100%;
    margin: 0 1%;
    overflow: auto;
}
#myProject::-webkit-scrollbar {
    width: 10px;
}
#myProject::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
#myProject::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
.mpContainer{
    clear: both;
    width: 90%;
    height: 18%;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    margin: 1rem auto;
}
.mpContainer:hover{
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}
.reqColorSmall{
    float: left;
    background-color: #3498DB;
    width: 1%;
    height: 100%;
    border-radius: 0.3rem 0 0 0.3rem ;
}
.mpInfo{
    float: left;
    width: 80%;
    height: 100%;
}
.mpInfo h4{
    margin: 0.5rem 1.6rem;
    font-size: 1.1rem;
}
.mpInfo p{
    margin: 0.4rem 1.6rem;
    font-size: 0.9rem;
}
.reqColorBig{
    float: right;
    width: 17%;
    margin: 1%;
    background-color: #3498DB;
    border-radius: 0.3rem;
    height: 80%;
    text-align: center;
    line-height: 3rem;
    color: white;
    font-size: 0.9rem;
    overflow: hidden;
}
/*BookMark*/
#msgBookmark{
    background-color: #F7F9FA;
    border-radius: 0.6rem;
    float: left;
    width: 30%;
    height: 100%;
    margin: 0 1%;
    overflow: auto;
}
#msgBookmark::-webkit-scrollbar {
    width: 10px;
}
#msgBookmark::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
#msgBookmark::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
.bmContainer{
    float: left;
    width: 100%;
}
.bmContainer:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}
.bmContainer img{
    float: left;
    width: 10%;
    margin: 1rem 1rem 1rem 2rem;
    border-radius: 3rem;
}
.bmInfo{
    float: left;
    margin: 0.7rem 0;
}
.bmInfo p{
    margin-top: 0.3rem;
    font-size: 0.8rem;
}
.sendMsg{
    float: right;
    margin: 1.2rem 3rem 0 1rem;
    font-size: 1.3rem;
}
.sendMsg:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
#msgBookmark hr{
    clear: both;
    margin: 0 1rem;
}
.bbbbb{
	padding: 1rem;
}
#dayoffToday{
	margin: 1rem
}
/*세로*/
/*스마트폰*/
@media only screen and (max-width:  767px) and (orientation: portrait){
    #home{
        position: absolute;
        top: 20%;
        right: 15%;
    }
    #bell{
        position: absolute;
        top: 20%;
        right: 9%;
    }
    #setting{
        position: absolute;
        top: 20%;
        right: 3%;
    }
    /*section*/
    .mainTitle, #pjTitle, #msgTitle{
        display: none;
    }
    .mobileTitle{
        display: block;
        margin: 1%;
        font-size: 1.4rem;
    }
    #a1{
        width: 90%;
        height: auto; /* 100%; 일떄 겹침 현상 발생*/
        margin: 1% auto;
    }
    #a2{
        width: 90%;
        height: auto;/* 70%; 일떄 겹침 현상 발생  진행중이 프로젝트 글씨 크기 확인*/
        margin: 2% auto 1% auto;
    }
    #todayWork, #myInfo, #restInfo{
        clear: both;
        width: 96%;
        height: 30%;
        margin: 1%;
    }
    #myProject{
        clear: both;
        float: left;
        width: 96%;
        height: 45%;
        margin: 1%;
    }
    #msgBookmark{
        clear: both;
        float: left;
        width: 96%;
        height: 45%;
        margin: 1%;
    }
    
      #todayWork, #myInfo, #restInfo{
	    width: 100% !important;
	}
}
/*태블릿 pc*/
@media only screen and (min-width:  768px) and (max-width: 959px) and (orientation: portrait){
    #home{
        position: absolute;
        top: 20%;
        right: 15%;
        font-size: 1.5rem;
    }
    #bell{
        position: absolute;
        top: 20%;
        right: 9%;
        font-size: 1.5rem;
    }
    #setting{
        position: absolute;
        top: 20%;
        right: 3%;
        font-size: 1.5rem;
    }
}
/*데스크탑*/
@media only screen and (min-width:  960px) and (orientation: portrait){
}
/*가로*/
/*스마트폰*/
@media only screen and (max-width:  767px) and (orientation: portrait) and (orientation: landscape){
	#todayWork, #myInfo, #restInfo{
	    width: 100% !important;
	}
}
/*태블릿 pc*/
@media only screen and (min-width:  768px) and (max-width: 959px) and (orientation: landscape){
    #home{
        position: absolute;
        top: 0;
        right: 11%;
    }
    #bell{
        position: absolute;
        top: 0;
        right: 7%;
    }
    #setting{
        position: absolute;
        top: 0;
        right: 3%;
    }
    .mpContainer{
        height: 32%;
    }
    #miHour{
        height: 17%;
    }
    #miToday{
        height: 17%;
    }
}
/*데스크탑*/
@media only screen and (min-width:  960px) and (orientation: landscape){
}

/*오늘의일정 관련 */
/*todayWork*/
    #todayWork{
        background-color: #F7F9FA;
        border-radius: 0.6rem;
        clear: both;
        float: left;
        width: 33%;
        height: 100%;
        margin: 0 1%;
        overflow: auto;
    }
    #todayWork::-webkit-scrollbar {
        width: 10px;
    }
    #todayWork::-webkit-scrollbar-thumb {
        background-color: lightgray;
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
    }
    #todayWork::-webkit-scrollbar-track {
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;
    }
    .today{
        clear: both;
        width: 90%;
        height: 18%;
        background-color: white;
        box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        margin: 1rem auto;
    }
    .today:hover{
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    }
    .aaaaa{
        float: left;
        background-color: #F3DE8F;
        width: 1%;
        height: 100%;
        display: inline-block;
        border-radius: 0.3rem 0 0 0.3rem ;
    }
    /* 휴식정보 관련 */
    #dayoffToday{
        clear: both;
        width: 80%;
        height: 2%;
        margin: 1rem auto;
        line-height: 1.8rem;
        font-size: 0.8rem;
    }
    #restInfo{
        text-align: center;
        overflow: auto;
    }
	#restHour{
	    background-color: white;
	    border-radius: 1rem;
	    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	    width: 80%;
	    height: 8%;
	    margin: 1rem auto;
	    line-height: 2.2rem;
	    font-size: 1rem;
	    overflow: auto;	
	}
	  
    #restGo{
        float: none;
        background-color: lightgray;
        border-radius: 0.2rem;
        width: 20%;
        height: 100%;
        margin: 1rem auto;
    }
	#dayoff{
	    background-color: white;
	    border-radius: 1rem;
	    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	    width: 80%;
	    height: 8%;
	    margin: 1rem auto;
	    line-height: 2.2rem;
	    font-size: 1rem;
	    overflow: auto;	
	}
    #dayoffconunt{
        float: left;
        background-color: white;
        border-radius: 0.2rem;
        width: 40%;
        height: 100%;
    }
    /* 즐겨찾기 추가 아이콘*/
    .like_add_icon{
    	padding-left: 47%;
    }
    
    /*모달*/
    .modal_wrapper {
	  display: none; 
	  position: fixed;
	  z-index: 1;
	  right: 0;
	  bottom: 0;
	  width: 400px;
	  height: 350px;
	  overflow: hidden;
	}
	.modal_content {
	  background-color: #fefefe;
	  padding: 20px 10px 50px 30px;
	  border: 1px solid #888;
	  width: 100%;
	  height: 100%;
	  box-sizing: border-box;
	}
	.modal_content > a{
		float:right;
	}
	.modal_content > form > label{
		font-size: 1rem;
		border-color: #DEE0E1;
		display: block;
		width: 300px;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
	#send_tt{
		font-size: 1.2rem;
		border-color: #DEE0E1;
		display: block;
		width: 300px;
	}
	#send_ct{
		resize: none;
		font-size: 1.2rem;
		border-color: #DEE0E1;
		display: block;
		width: 300px;
		height: 100px;
	}
	#show_name{
		font-size: 1.2rem;
		border: none;
		display: block;
		width: 300px;
	}
	#show_name:focus {
        outline: none;
    }
	#btn_send{
		margin-top: 1rem;
		padding: 10px;
		display: block;
		width: 300px;
		background-color: #3498DB;
		border: none;
	}
	#btn_send:hover{
		cursor: pointer;
	}
	
	