@charset "UTF-8";
section{
    width: 87%;
    height: 94%;
    float: right;
    overflow: auto;
    position: relative;
}
h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    display: inline-block;
}
#csadd{
	font-size: 1.3rem;
	margin: 1rem;
}
#csContainer{
	width: 90%;
	height: 85%;
	margin: 5rem auto 0 auto;
}
.flexContainer{
	width: 100%;
	height: 90%;
	margin: 2rem auto 0 auto;
	display: flex;
	justify-content: center;
}
.flexContainer h4{
	margin: 1rem;
	color: #5E6C84;
}
#urgent, #high, #normal, #low{
	width: 25%;
	height: 100%;
	background-color: #F7F9FA;
	margin: 1rem;
}
#urgentList, #highList, #normalList, #lowList{
	width: 90%;
	height: 10%;
	background-color: white;
	margin: 0.5rem auto;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
	overflow: auto;
}
.reqColorSmall{
	clear: both;
    float: left;
    background-color: #27AE60;
    width: 1.5%;
    height: 100%;
    border-radius: 0.3rem 0 0 0.3rem;
}
.listInfo{
	float: left;
    width: 98%;
    height: 100%;
}
.listInfo a{
	display: inline-block;
	margin: 1rem;
}
/*team goal*/
#csDetailModal{
	z-index:3;
	display: none;
	padding-top:100px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4)
}
.modal-content{
	margin:auto;
	background-color:#fff;
	position:relative;
	padding:0;
	outline:0;
	width: 37rem;
	height: 80%;
}
.container{
	width:100%;
	height:100%;
	overflow: auto;
}
.container:after,.w3-container:before{
	content:"";
	display:table;
	clear:both;
}
#csBasic{
	clear: both;
	width: 100%;
	height: 15%;
	display: block;
	margin: auto;
}
#cancleBtn{
	position: absolute;
	float: right;
	top: 1rem;
	right: 1rem;
}
#csDetailContent{
	clear: both;
	width: 80%;
	margin: 1rem auto;
}
#csDetailContent h4{
	font-size: 1.2rem;
	display: inline-block;
	margin: 1rem 0;
	color: #5E6C84;
}
#csDetailContent h4 a i{
	font-size: 1.2rem;
}
#csDetailContent p{
	font-size: 1.2em;
	margin: 0 2rem;
	background-color: #F7F9FA;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	border-radius: 0.3rem;
	padding: 1rem;
}
.teamH1{
	margin: 1rem;
	font-size: 2.4rem;
	float: left;
}
.addGoalBtn{
	float: left;
	margin: 1.5rem;
	font-size: 1.2rem;
}
.csH1{
	margin: 1.4rem;
}
select{
	width: 30%;
	padding: 0.3rem 0.7rem;
    margin-top: 1.4rem;
    font-size: 1rem;
    text-align: center;
}
#csDisableBtn, #updateBtn{
	display: inline-block;
	border: 0;
	margin: 1.4rem;
	padding: 0.5rem 0.8rem;
	background-color: #e5e8eb;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	font-size: 0.8rem;
}
#csDisableBtn:hover, #updateBtn:hover{
	background-color: #3498DB;
	color: white;
}
#csDiasabled{
	display: inline-block;
	border: 0;
	margin: 1.4rem;
	padding: 0.5rem 0.8rem;
	background-color: #DE4F4F;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	font-size: 0.8rem;
}

/* 내가 추가하기 시작한 곳 */
#newbtn{
	border: 0;
	margin-right: 7rem;
	padding: 0.5rem 1rem;
	background-color: #e5e8eb;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	font-size: 1rem;
	float: right;
}

#newbtn:hover {
	background-color: #3498DB;
	color: white;
	cursor: pointer;
}