@charset "UTF-8";

h1 {
	font-size : 2rem;
	padding-top : 8%;
	padding-bottom : 5%;
	padding-left : 20%;
}

table {
	margin-left:30%;
}

thead{
	background-color:#e5e8eb;
	height:2rem;
	font-weight:100;
}

td{
	height:2.5rem;
	text-align:center;
	border-bottom:0.1rem solid black;
	border-color:#e5e8eb;
}

button {
	border: 0;
    background-color: #e5e8eb;
    border-radius: 0.3rem;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
}

#title{
	width:20rem;
}

#input{
	background-color:white;
    border-radius: 0.3rem;
    border-color:#e5e8eb;
    width:19rem;
    text-align:left;
    border:none;
}

#time{
	width:15rem; 
}

#id{
	width:10rem;
}

#check{
	width:7rem;
}

#delete{
	width:7rem;
}

.none{
	text-align:center;
    border-radius: 0.3rem;
    border-color:#e5e8eb;
    height:1.5rem;
    background-color:white;
    border:none;
}

.none2{
	text-align:center;
    border-radius: 0.3rem;
    border-color:#e5e8eb;
    height:1.5rem;
    background-color:white;
    border:none;
}