@charset "UTF-8";

h1 {
	font-size : 2rem;
	padding-top : 8%;
	padding-bottom : 5%;
	padding-left : 20%;
}

table {
	margin-left:25%;
}

thead{
	background-color:#e5e8eb;
	height:2rem;
	font-weight:100;
}

td{
	height:2.5rem;
	text-align:center;
	border-bottom:0.1rem solid #e5e8eb;
}

button {
	border: 0;
    background-color: #e5e8eb;
    border-radius: 0.3rem;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    cursor:pointer;
}

#title{
	width:20rem;
}

.input{
	background-color:white;
    border-radius: 0.3rem;
    border-color:#e5e8eb;
    width:19rem;
    text-align:left;
    border:none;
    cursor:pointer;
}

#msgModal{
	display:none;
}

#no{
	width:10rem;
}

#time{
	width:15rem; 
}

#id{
	width:10rem;
}

#check{
	width:7rem;
}

#delete{
	width:7rem;
	cursor:pointer;
}

.none{
	text-align:center;
    border-radius: 0.3rem;
    border-color:#e5e8eb;
    height:1.5rem;
    background-color:white;
    border:none;
}

.none2{
	text-align:center;
    border-radius: 0.3rem;
    border-color:#e5e8eb;
    height:1.5rem;
    background-color:white;
    border:none;
}

#msgModal{
	display:none;
	position:fixed;
	margin-left:50%;
	width:100%;
	height:100%;
	z-index:1;
}

.modalLayer{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.5);
	z-index:-1;
}