@charset "UTF-8";

section{
    width: 87%;
    height: 94%;
    float: right;
    overflow: auto;
    position: relative;
}

#article_a{
	width: 90%;
	margin: 5rem auto 0 auto;
}

#article_a > h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

#article_a >form{
	width: 50%;
	margin: 0 auto;
}

#div_whm_outer{
	width: 100%;
	background-color: #F7F9FA;
	padding-bottom: 2rem;
}

#div_whm_outer > h1{
	font-size: 1.4rem;
	padding-top: 2%;
}

#div_whm_outer > div{
	margin-left: 5%;
	padding-top: 2%;
}

#div_whm_outer > div > label, input{
	font-size: 1.2rem;
}

.select_day:nth-child(n+2){
	margin-left: 1%;
}

.btn_whn_manage{
	width: 100%;
	padding: 1rem 0 1rem 0;
	text-align: center;
	border: 1px solid #DEE0E1;
	background-color: #DEE0E1;
	font-size: 1.2rem;
}

.btn_whn_manage:hover{
	cursor: pointer;
	background-color: white;
	transition-duration: 0.3s;
}

#article_b{
	width: 90%;
	margin: 3rem auto 0 auto;
	height: 60vh;
}

#article_b > h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

#div_apply_outer{
	width: 50%;
	background-color: #F7F9FA;
	margin: 0 auto;
}

#div_btnapply_outer{
	width: 100%;
}

.btn_apply{
	padding: 1rem 0 1rem 0;
	width: 50%;
	text-align: center;
	border: 1px solid #DEE0E1;
	background-color: #DEE0E1;
	font-size: 1.2rem;
}

.btn_apply:hover{
	cursor: pointer;
	background-color: white;
	transition-duration: 0.3s;
}

th{
	font-size: 1.2rem;
}

td{
	font-size: 1.2rem;
}

.modal_wrapper {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.modal_content {
  background-color: #fefefe;
  padding: 20px 20px 50px 20px;
  border: 1px solid #888;
  width: 30%;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#result_checkDuplicate{
	color: red;
	display: inline-block;
	font-size: 1rem;
	margin: 1%;
}

.modal_content > h1{
	text-align: center;
	font-size: 1.4rem;
	padding: 1rem 0 1rem 0;
	border-top: 1px solid #DEE0E1;
	border-bottom: 1px solid #DEE0E1;
}

.modal_content > form > div{
	margin-top: 1%;
	padding-top: 2%;
}

.modal_content > form > div:last-child{
	margin-bottom: 5%;
}

.modal_content > div > label{
	font-size: 1.2rem;
	border-color: #DEE0E1;
}

.modal_content > div > input{
	font-size: 1.2rem;
	border-color: #DEE0E1;
}

.btn_xiuxi_apply{
	padding: 0 1rem 0 1rem;
	text-align: center;
	border: 1px solid #389dff;
	background-color: #389dff;
	font-size: 1.2rem;
	float: right;
}

.btn_xiuxi_apply:hover {
	cursor: pointer;
	background-color: white;
	transition-duration: 0.3s;
}

#apl_no{
	margin-left: 5%;
}
