@charset "UTF-8";
section{
    width: 87%;
    height: 94%;
    float: right;
    overflow: auto;
}
#calendarCon{
	width: 85%;
	height: 85%;
	margin: 3rem auto 0 auto;
}
#calendar{
	width: 100%;
	height: 100%;
	z-index: 0;
}
.fc-toolbar-chunk{
	display: flex;
	align-items: center;
}
.fc-day-sat .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion { color:#de4f4f; }     /* 토요일 */
.fc-day-sun .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion { color:#de4f4f; }    /* 일요일 */
.fc-day-sat{ background-color: rgba(222, 79, 79, 0.1); }
.fc-day-sun{ background-color: rgba(222, 79, 79, 0.1); }
#contextMenu {
  position: absolute;
  display: none;
  z-index: 2;
  background-color: white;
  padding: 0.7rem 0.3rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
}

#contextMenu .dropdown-menu {
  border: none;
}
#contextMenu .dropdown-menu li{
	margin: 1rem;
}
#workAddModal, #workSelectModal, #workUpdateModal{
	z-index:3;
	display: none;
	padding-top:100px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
}
.modal-content{
	margin:auto;
	background-color:#fff;
	position:relative;
	padding:0;
	outline:0;
	width: 37rem;
	height: 80%;
	border-radius: 0.4rem;
	overflow: auto;
}
.container{
	width:100%;
	height:100%;
	overflow: auto;
}
.container:after,.w3-container:before{
	content:"";
	display:table;
	clear:both;
}
#workCon{
	clear: both;
	width: 100%;
	display: block;
	margin: auto;
}
#cancleBtn{
	position: absolute;
	float: right;
	top: 1rem;
	right: 1rem;
}
.workH1{
	float: left;
	font-size: 2rem;
    margin: 2rem;
}
#workAddFrm{
    width: 70%;
    height: 100%;
    margin: auto;
}
#workGrid{
	width: 100%;
	height: 100%;
	display: grid;
    grid-template-columns: 35% 65%;
}
label{
    font-size: 1.25rem;
    font-weight: bold;
    margin: auto;
    margin-top: 1.4rem;
}
input{
    padding: 0.7rem;
    margin-top: 1.4rem;
}
textarea, select{
	padding: 0.7rem;
    margin-top: 1.4rem;
    font-size: 1rem;
}

#submitBtn{
	clear: both;
	display: block;
	border: 0;
	margin: 3rem auto;
	padding: 0.5rem 2rem;
	background-color: #e5e8eb;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	font-size: 1rem;
}
#submitBtn:hover {
	background-color: #3498DB;
	color: white;
}
#workSelectGrid{
	width: 70%;
	height: 100%;
	display: grid;
    grid-template-columns: 30% 70%;
    margin: 3rem 10% 3rem 10%;
    gap: 1rem 0;
}
.workFont{
	font-weight: bold;
}
#workSelectGrid p{
	clear: both;
    font-size: 1.15rem;
    margin: auto;
}
#workTitleCheck, #workContentCheck, #workStartCheck, #workEndCheck, #workFinishCheck{
	width: 100%;
	background-color: #F7F9FA;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	border-radius: 0.3rem;
	padding: 1rem;
}
.workReBtn{
	font-size: 1.5rem;
	margin: 0.5rem;
}
.clear{
	clear: both;
}