<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="aboutAtt">

<resultMap type="WorkBreak" id="WorkBreak1">
	<id property="brNo" column="BR_NO" />
	<result property="brStart" column="BR_START"/>
</resultMap>

<resultMap type="WHM" id="WHM1">
	<id property="whmCode" column="WHM_CODE" />
	<result property="whmRestCode" column="WHM_REST_CODE" />
</resultMap>

<resultMap type="Xiuxi" id="xiuxiL">
	<id property="xiuNo" column="XIU_NO"/>
	<result property="xiuReason" column="XIU_REASON"/>
	<result property="xiuState" column="XIU_STATE"/>
	<result property="xiuAplYesNo" column="XIU_APL_YESNO"/>
</resultMap>

<select id="countAttStart" parameterType="_int" resultType="_int">
	<![CDATA[ 
	select count(ATT_START) from ATTENDANCE where STF_NO = #{stfNo} and ATT_NO = to_number(to_char(SYSDATE, 'YYYYMMDD'))
		]]>
</select>

<insert id="insertCheckin" parameterType="_int">
	<![CDATA[ 
Insert into ATTENDANCE (ATT_NO, STF_NO, ATT_START) values (
    to_number(to_char(SYSDATE, 'YYYYMMDD'))
    , #{stfNo}
    , SYSDATE
)
	]]>
</insert>

<select id="getAttStart" parameterType="_int" resultType="string">
	<![CDATA[ 
	select to_char(ATT_START, 'hh24:mi:ss') ATT_START from ATTENDANCE where STF_NO = #{stfNo} and ATT_NO = to_number(to_char(SYSDATE, 'YYYYMMDD'))
			]]>
</select>

<update id="updateCheckout" parameterType="_int">
	<![CDATA[
Update ATTENDANCE set ATT_END = SYSDATE where STF_NO = #{stfNo} and ATT_NO = to_number(to_char(SYSDATE, 'YYYYMMDD'))
	]]>
</update>

<select id="getAttEnd" parameterType="_int" resultType="string">
	<![CDATA[ 
	select to_char(ATT_END, 'hh24:mi:ss') ATT_END from ATTENDANCE where STF_NO = #{stfNo} and ATT_NO = to_number(to_char(SYSDATE, 'YYYYMMDD'))
		]]>
</select>

<insert id="insertRestin" parameterType="_int">
	<![CDATA[ 
	Insert into WORK_BREAK (BR_NO, BR_START, ATT_NO, STF_NO)values (
	WORK_BREAK_SEQ.nextval
	, SYSDATE
	, to_number(to_char(SYSDATE, 'YYYYMMDD'))
	, #{stfNo}
	)
			]]>
</insert>

<select id="getRestStart" parameterType="_int" resultMap="WorkBreak1">
	<![CDATA[ 
	Select
	BR_NO
	, to_char(BR_START, 'hh24:mi:ss') BR_START
	from (select * from WORK_BREAK where STF_NO = #{stfNo} and ATT_NO = to_number(to_char(SYSDATE, 'YYYYMMDD')) order by BR_NO desc)
	where rownum = 1
	]]>
</select>

<update id="updateBrEnd" parameterType="_int">
	<![CDATA[
	Update WORK_BREAK set BR_END = SYSDATE where BR_NO = #{brNo}
		]]>
</update>

<select id="getBrEnd" parameterType="_int" resultType="string">
	<![CDATA[ 
	select to_char(BR_END, 'hh24:mi:ss') BR_END from WORK_BREAK where BR_NO = #{brNo}
	]]>
</select>

<select id="getLatestBrStart" parameterType="_int" resultType="string">
	<![CDATA[ 
	select to_char(BR_START, 'hh24:mi:ss') BR_START
	from (select * from WORK_BREAK where STF_NO = #{stfNo} and ATT_NO = to_number(to_char(SYSDATE, 'YYYYMMDD')) order by BR_NO desc)
	where rownum = 1
		]]>
</select>

<select id="getLatestBrEnd" parameterType="_int" resultType="string">
	<![CDATA[ 
	select to_char(BR_END, 'hh24:mi:ss') BR_END
	from (select * from WORK_BREAK where STF_NO = #{stfNo} and ATT_NO = to_number(to_char(SYSDATE, 'YYYYMMDD')) order by BR_NO desc)
	where rownum = 1
	]]>
</select>

<select id="getBrNo" parameterType="map" resultType="_int">
	<![CDATA[ 
	select br_no from work_break where stf_no = #{stfNo} and to_char(br_start, 'hh24:mi:ss') = #{restStartFormat}
	]]>
</select>


<select id="countAplTotal" parameterType="_int" resultType="_int">
	<![CDATA[ 
	select count(*) from (select * from APL where STF_NO = #{stfNo}) where SYSDATE between APL_DATE and ADD_MONTHS(APL_DATE, '12')
	]]>
</select>

<select id="countAplUse" parameterType="_int" resultType="_int">
	<![CDATA[ 
	select count(*) from (select * from APL where STF_NO = #{stfNo} and APL_STATE = '0') where SYSDATE between APL_DATE and ADD_MONTHS(APL_DATE, '12')
	]]>
</select>

<select id="getWHM" resultMap="WHM1">
	select * from WH_MANAGE
</select>

<update id="updateWHM" parameterType="map">
	update WH_MANAGE set WHM_CODE = #{whmCode}, WHM_REST_CODE = #{whmRestCode}
</update>

<update id="updateWHMOne" parameterType="_int">
	update WHM_ONE set WHM_ONE_CODE = #{weekHours}
</update>

<update id="resetWHMZeroState">
update WHM_ZERO set WHM_ZERO_YESNO = 0
</update>

<update id="updateWHMZero" parameterType="map">
update WHM_ZERO set WHM_ZERO_START = #{zeroStartFormat}, WHM_ZERO_END = #{zeroEndFormat}, WHM_ZERO_YESNO = 1
where WHM_ZERO_DAY = #{selectedDay}
</update>

<select id="getXiuxiList" resultMap="xiuxiL">
	select * from XIUXI order by (to_number(XIU_NO, 99))
</select>

<delete id="deleteXiuxi" parameterType="string">
	delete from XIUXI where xiu_no = #{checked}
</delete>

</mapper>
