<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="aboutAtt">





<insert id="insertCheckin" parameterMap="map">
	Insert into ATTENDANCE (ATT_NO, STF_NO, WH_CODE, ATT_START) values (#{attNo}, #{stfNo}, #{whCode}, #{attStart})
</insert>


</mapper>
