<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//myb atis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Main">
	<resultMap type="Attendance" id="attendanceRM">
		<id property="attNo" column="att_no"/>
		<result property="stfNo" column="stf_no"/>
		<result property="attStart" column="att_start"/>
		<result property="attEnd" column="att_end"/>
	</resultMap>
	<resultMap type="Project" id="projectRM">
		<id property="proNo" column="pro_no"/>
		<result property="proTitle" column="pro_title"/>
		<result property="proContent" column="pro_content"/>
		<result property="proStart" column="pro_start"/>
		<result property="proEnd" column="pro_end"/>
		<result property="proManager" column="pro_manager"/>
		<result property="proStatus" column="pro_status"/>
	</resultMap>
	<resultMap type="ReceiveMsg" id="messageRm">
		<id property="rMNo" column="r_m_no"/>
		<result property="stfNo" column="stf_no"/>
		<result property="mNo" column="m_no"/>
		<result property="rMTime" column="r_m_time"/>
		<result property="rMCheck" column="r_m_check"/>
		<result property="sStfId" column="s_stf_d"/>
	</resultMap>
	<select id="getAttendance" parameterType="int" resultMap="attendanceRM">
		select * from attendance where stf_no = #{stfNo} and TO_CHAR(att_start,'YYYYMMDD') = TO_CHAR(sysdate,'YYYYMMDD')
	</select>
	<select id="getUserProject" parameterType="int" resultMap="projectRM">
		select distinct t1.pro_no, t1.pro_title, t1.pro_content, t1.pro_start, t1.pro_end, t1.pro_manager, t1.pro_status from(select p.*, rank() over (partition by p.pro_no order by t.team_id desc) as ranking
		from project p left join team t on p.pro_no = t.pro_no left join team_member tm on t.team_id = tm.team_id
        where p.pro_manager = #{stfNo} or t.team_manager = #{stfNo} or tm.stf_no = #{stfNo}) t1
		where ranking = 1 and t1.pro_status != 'F' order by t1.pro_no desc
	</select>
	<select id="getReceiveMsg" parameterType="int" resultMap="messageRm">
		select * from receive_msg where r_m_check = 0 and stf_no = #{stfNo}
	</select>
</mapper>
