<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Project">
	<resultMap type="Project" id="projectRM">
		<id property="proNo" column="pro_no"/>
		<result property="proTitle" column="pro_title"/>
		<result property="proContent" column="pro_content"/>
		<result property="proStart" column="pro_start"/>
		<result property="proEnd" column="pro_end"/>
		<result property="proManager" column="pro_manager"/>
		<result property="proStatus" column="pro_status"/>
		<result property="stfNo" column="stf_no"/>
		<result property="teamManager" column="team_manager"/>
		<result property="stfName" column="stf_name"/>
		<result property="tMStfNo" column="tmstf_no"/>
	</resultMap>
	<resultMap type="Right" id="staffRM">
		<id property="stfNo" column="STF_NO"/>
		<result property="deptName" column="DEPT_Name"/>
		<result property="stfName" column="STF_NAME"/>
	</resultMap>
	<resultMap type="Right" id="rightRM">
		<result property="proNo" column="pro_no"/>
		<result property="stfNo" column="stf_no"/>
		<result property="rightNo" column="right_no"/>
		<result property="stfName" column="stf_name"/>
	</resultMap>
	
	<!-- 프로젝트 등록 -->
	<insert id="insertPJ" parameterType="Project">
		insert into PROJECT values (project_seq.nextval, #{proTitle}, #{proContent}, #{proStart}, #{proEnd}, #{stfNo}, 'N')
	</insert>
	
	<!-- 프로젝트 조회 -->
	<select id="getNewList" parameterType="int" resultMap="projectRM">
		select * from(select p.pro_no, p.pro_status, p.pro_manager, p.pro_title, p.pro_start, p.pro_end, p.pro_content, t.team_manager, tm.stf_no,
      				  rank() over (partition by p.pro_no order by t.team_id desc) as ranking
      				  from project p left join team t on p.pro_no = t.pro_no 
      				  left join team_member tm on t.team_id = tm.team_id
        			  where p.pro_manager = #{stfNo} or t.team_manager = #{stfNo} or tm.stf_no = #{stfNo}) t1
      	where ranking = 1 
      	and pro_status = 'N'
      	order by t1.pro_no desc
	</select>
	<select id="getContinueList" parameterType="int" resultMap="projectRM">
		select * from(select p.pro_no, p.pro_status, p.pro_manager, p.pro_title, p.pro_start, p.pro_end, p.pro_content, t.team_manager, tm.stf_no,
      				  rank() over (partition by p.pro_no order by t.team_id desc) as ranking
      				  from project p left join team t on p.pro_no = t.pro_no 
      				  left join team_member tm on t.team_id = tm.team_id
        			  where p.pro_manager = #{stfNo} or t.team_manager = #{stfNo} or tm.stf_no = #{stfNo}) t1
      	where ranking = 1 
      	and pro_status = 'C'
      	order by t1.pro_no desc
	</select>
	<select id="getFinishList" parameterType="int" resultMap="projectRM">
		select * from(select p.pro_no, p.pro_status, p.pro_manager, p.pro_title, p.pro_start, p.pro_end, p.pro_content, t.team_manager, tm.stf_no,
      				  rank() over (partition by p.pro_no order by t.team_id desc) as ranking
      				  from project p left join team t on p.pro_no = t.pro_no 
      				  left join team_member tm on t.team_id = tm.team_id
        			  where p.pro_manager = #{stfNo} or t.team_manager = #{stfNo} or tm.stf_no = #{stfNo}) t1
      	where ranking = 1 
      	and pro_status = 'F'
      	order by t1.pro_no desc
	</select>
	<select id="getAllList" parameterType="int" resultMap="projectRM">
		select * from(select p.pro_no, p.pro_status, p.pro_manager, t.team_manager, tm.stf_no,
      				  rank() over (partition by p.pro_no order by t.team_id desc) as ranking
      				  from project p left join team t on p.pro_no = t.pro_no 
      				  left join team_member tm on t.team_id = tm.team_id
        			  where p.pro_manager = #{stfNo} or t.team_manager = #{stfNo} or tm.stf_no = #{stfNo}) t1
      	where ranking = 1 
      	order by t1.pro_no desc
	</select>
	<select id="getDetailList" parameterType="int" resultMap="projectRM">
		select p.pro_no, p.pro_title, p.pro_content, p.pro_start, p.pro_end, p.pro_manager, r.stf_no, st.stf_name
		from project p
		left join right r on p.pro_no = r.pro_no
		left join staff st on r.stf_no = st.stf_no
		where p.pro_no = #{proNo}
		and r.right_no = 1
	</select>
	
	<!-- 프로젝트 생성 후 권한관리테이블 프로젝트 번호 등록 -->
	<update id="updatePjR" parameterType="Right">
		update right r 
		set pro_no = (select max(p.pro_no)
        		      from project p
              		  where p.pro_manager = r.stf_no)
		where r.stf_no = #{stfNo}
		and r.pro_no is null
	</update>
	
	<!-- 프로젝트 권한확인 -->
	<select id="getRightConfirm" parameterType="int" resultMap="staffRM">
		select r.pro_no, r.stf_no, r.right_no, s.stf_name
		from right r
		left join staff s on r.stf_no = s.stf_no
		where r.right_no = 0
		and r.pro_no is null
		and r.stf_no = #{stfNo}
	</select>
	
	<!-- 프로젝트 생성 후 TM등록 -->
	<insert id="insertTM" parameterType="Project">
		insert into right (pro_no, stf_no, right_no) values (project_seq.nextval-1, #{tMStfNo} , '1')
	</insert>
	
	<!-- 프로젝트 진행상태로 변경 -->
	<update id="updatePJC" parameterType="Project">
		update project set pro_status = 'C'
		where pro_no = #{proNo}
	</update>

	<!-- 프로젝트 완료상태로 변경 -->
	<update id="updatePJF" parameterType="Project">
		update project set pro_status = 'F'
		where pro_no = #{proNo}
	</update>
</mapper>
