<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Right">
	<resultMap type="Staff" id="staffRM">
		<id property="stf_no" column="STF_NO"/>
		<result property="dept_no" column="DEPT_NO"/>
		<result property="stf_name" column="STF_NAME"/>
	</resultMap>
	
	<select id="searchStaffList" parameterType="Staff" resultMap="staffRM">
		select s.STF_NO, d.DEPT_NAME, s.STF_NAME
		from staff s
		inner join department d on s.DEPT_NO = d.DEPT_NO
		where 1=1
		<if test="dept_no!=0">
			and d.dept_no = #{dept_no}
		</if>
		<if test="stf_name!=null and !stf_name.equals('')">
			and s.STF_NAME like '%'||#{stf_name}||'%'
		</if>
		<if test="stf_no!=null and !stf_no.equals('')">
			and s.STF_NO like '%'||#{stf_no}||'%'
		</if>
	</select>
</mapper>
