<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Right">
	<resultMap type="Staff" id="staffRM">
		<id property="stfNo" column="STF_NO"/>
		<result property="deptName" column="DEPT_Name"/>
		<result property="stfName" column="STF_NAME"/>
	</resultMap>
	
	<!-- 권한관리페이지 사원정보 조회 쿼리문 -->
	<select id="searchStaffList" parameterType="Staff" resultMap="staffRM">
		select s.STF_NO, d.DEPT_NAME, s.STF_NAME
		from staff s
		inner join department d on s.DEPT_NO = d.DEPT_NO
		where 1=1
		<if test="deptName!=null and !deptName.equals('')">
			and d.DEPT_NAME = #{deptName}
		</if>
		<if test="stfName!=null and !stfName.equals('')">
			and s.STF_NAME like '%'||#{stfName}||'%'
		</if>
		<if test="stfNo!=-1">
			and s.STF_NO like '%'||#{stfNo}||'%'
		</if>
	</select>
	
	<!-- 권한관리페이지 PM등록 쿼리문 -->
	<insert id="insertPm" parameterType="_int">
		insert into right (stf_no, right_no) values (#{stfNo}, 0)
	</insert>
</mapper>
