<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="StaffNS">
<!-- STF_NO      NOT NULL NUMBER        
DEPT_NO     NOT NULL NUMBER        
STF_LVL     NOT NULL VARCHAR2(30)  
STF_NAME    NOT NULL VARCHAR2(30)  
STF_ID      NOT NULL VARCHAR2(30)  
STF_PASSWD  NOT NULL VARCHAR2(30)  
STF_IMG     NOT NULL VARCHAR2(300) 
STF_SIGN    NOT NULL VARCHAR2(300) 
STF_PHONE   NOT NULL VARCHAR2(30)  
STF_MAIL    NOT NULL VARCHAR2(30)  
STF_ENROLL  NOT NULL DATE          
STF_NOTHERE          DATE      -->
<!-- private int stf_no;
	   private int dept_no;
	   private String stf_lvl;
	   private String stf_name;
	   private String stf_id;
	   private String stf_passwd;
	   private String stf_img;
	   private String stf_sign;
	   private String stf_phone;
	   private String stf_mail;
	   private Date stf_enroll;
	   private Date stf_nothere; -->
	<resultMap type="Staff" id="staffRM">
		<id property="stf_no" column="STF_NO"/>
		<result property="dept_no" column="DEPT_NO"/>
		<result property="stf_lvl" column="STF_LVL"/>
		<result property="stf_name" column="STF_NAME"/>
		<result property="stf_id" column="STF_ID"/>
		<result property="stf_passwd" column="STF_PASSWD"/>
		<result property="stf_img" column="STF_IMG"/>
		<result property="stf_sign" column="STF_SIGN"/>
		<result property="stf_phone" column="STF_PHONE"/>
		<result property="stf_mail" column="STF_MAIL"/>
		<result property="stf_enroll" column="STF_ENROLL"/>
		<result property="stf_nothere" column="STF_NOTHERE"/>
	</resultMap>
	
	<select id="einquire" resultMap="staffRM" parameterType="int">
		select stf_name, stf_img, stf_phone, stf_mail from staff
	</select>
	
	<!--  JH  -->
	<select id="loginCheck" resultType="String" parameterType="Staff">
	select stf_name from staff
	where stf_id =#{stf_id} AND stf_passwd = #{stf_passwd}
	</select>
	
	<select id="viewStaff" resultType="Staff" parameterType="Staff">
	select s.stf_name, r.right_no
	from staff s join right r on s.stf_no = r.stf_no
	where stf_id = #{stf_id}
	</select>
	
</mapper>
