<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="StaffNS">
<!-- STF_NO      NOT NULL NUMBER        
DEPT_NO     NOT NULL NUMBER        
STF_LVL     NOT NULL VARCHAR2(30)  
STF_NAME    NOT NULL VARCHAR2(30)  
STF_ID      NOT NULL VARCHAR2(30)  
STF_PASSWD  NOT NULL VARCHAR2(30)  
STF_IMG     NOT NULL VARCHAR2(300) 
STF_SIGN    NOT NULL VARCHAR2(300) 
STF_PHONE   NOT NULL VARCHAR2(30)  
STF_MAIL    NOT NULL VARCHAR2(30)  
STF_ENROLL  NOT NULL DATE          
STF_NOTHERE          DATE      -->
<!-- private int stf_no;
	   private int dept_no;
	   private String stf_lvl;
	   private String stf_name;
	   private String stf_id;
	   private String stf_passwd;
	   private String stf_img;
	   private String stf_sign;
	   private String stf_phone;
	   private String stf_mail;
	   private Date stf_enroll;
	   private Date stf_nothere; -->
	<resultMap type="Staff" id="staffRM">
		<id property="stfNo" column="STF_NO"/>
		<result property="deptNo" column="DEPT_NO"/>
		<result property="stfLvl" column="STF_LVL"/>
		<result property="stfName" column="STF_NAME"/>
		<result property="stfId" column="STF_ID"/>
		<result property="stfPasswd" column="STF_PASSWD"/>
		<result property="stfImg" column="STF_IMG"/>
		<result property="stfSign" column="STF_SIGN"/>
		<result property="stfPhone" column="STF_PHONE"/>
		<result property="stfMail" column="STF_MAIL"/>
		<result property="stfEnroll" column="STF_ENROLL"/>
		<result property="stfNothere" column="STF_NOTHERE"/>
		<association property="department" javaType="Department">
			<id property="deptNo" column="DEPT_NO"/>
			<result property="deptName" column="DEPT_NAME"/>
		</association>
	</resultMap>
	
	<!-- 직원 정보 수정 -->
	<update id="eupdate" parameterType="Staff">
		update staff set dept_no=#{deptNo}, stf_lvl=#{stfLvl}, stf_passwd=#{stfPasswd}, stf_phone=#{stfPhone}, stf_mail=#{stfMail}
		where stf_id=#{stfId}
	</update>
	
	<!-- 직원 등록 -->
	<insert id="eregist" parameterType="Staff">
		insert into staff (STF_NO, DEPT_NO, STF_LVL, STF_NAME, STF_ID, STF_PASSWD, STF_IMG, STF_SIGN, STF_PHONE, STF_MAIL, STF_ENROLL)
		values (#{stfNo}, #{deptNo}, #{stfLvl}, #{stfName}, #{stfId}, #{stfPasswd}, #{stfImg}, #{stfSign}, #{stfPhone}, #{stfMail}, #{stfEnroll})
	</insert>
	
	<!-- 조직도 -->
	<select id="organization" resultMap="staffRM" parameterType="int">
		select s.stf_name, s.stf_img, s.stf_phone, s.stf_mail, d.dept_name from staff s join department d on s.dept_no = d.dept_no
	</select>
	
	<!-- 직원 삭제 -->
	<delete id="edelete" parameterType="int">
		delete from staff where stf_no = #{stfNo}
	</delete>
	
	<!-- 전체 직원 정보 조회 -->
	<select id="einquire" resultMap="staffRM" parameterType="int">
		select * from staff s join department d on s.dept_no = d.dept_no order by s.stf_no ASC
	</select>
	
	<!-- 직원 상세 정보 조회 -->
	<select id="profile" resultMap="staffRM" parameterType="Staff">
		select s.stf_no, d.dept_name, s.stf_lvl, s.stf_name, s.stf_id, s.stf_passwd, s.stf_phone, s.stf_mail, s.stf_enroll from staff s join department d on s.dept_no = d.dept_no
		where s.stf_id = #{stfId}
	</select>
	
	<!-- 아이디 중복 체크 -->
	<select id="duplicate"	parameterType="Staff">
		select stf_id
		from staff
	</select>
	<!--  JH  -->
	<select id="loginCheck" resultType="String" parameterType="Staff">
		select stf_name from staff
		where stf_id =#{stfId} AND stf_passwd = #{stfPasswd}
	</select>
	
	<select id="viewStaff" resultMap="staffRM" parameterType="Staff">
		select *
		from staff
		where stf_id = #{stfId}
	</select>
</mapper>
