<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TeamMember">
	<!-- 팀 멤버 등록 -->
	<insert id="insertTeamMember" parameterType="TeamMember">
		insert into team_member(team_id, stf_no) values(#{teamId}, #{stfNo})
	</insert>
	<!-- 팀 멤버 등록 -->
	<!-- <insert id="insertTeamMember" parameterType="TeamMember">
		insert into team_member values(#{teamId}, #{stfNo})
	</insert> -->
</mapper>
