<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Team">
	<select parameterType="int" resultType="project" id="getOneProject">
		select * from project where pro_no = #{pro_no}
	</select>
	<select resultType="project" id="getproject">
		select * from project
	</select>
	<!-- <select id="getTeam" resultType="Team">select * from team</select>-->
</mapper>