<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
 	<typeAliases>
		<!-- <typeAlias type="com.mycompany.ldit.appdocfile.model.AppDocFile" alias="AppDocFile"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.appdoctype.model.AppDocType" alias="AppDocType"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.appdoc.model.AppDoc" alias="AppDoc"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.app.model.App" alias="App"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.attendance.model.Attendance" alias="Attendance"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.bookmark.model.BookMark" alias="BookMark"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.clientneeds.model.ClientNeeds" alias="ClientNeeds"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.department.model.Department" alias="Department"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.issuecomment.model.IssueComment" alias="IssueComment"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.issue.model.Issue" alias="Issue"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.msg.model.Msg" alias="Msg"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.pluswork.model.PlusWork" alias="PlusWork"/> -->
		<typeAlias type="com.mycompany.ldit.project.model.Project" alias="Project"/>
		<!-- <typeAlias type="com.mycompany.ldit.receivemsg.model.ReceiveMsg" alias="ReceiveMsg"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.right.model.Right" alias="Right"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.sendmsg.model.SendMsg" alias="SendMsg"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.staff.model.Staff" alias="Staff"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.teamaim.model.TeamAim" alias="TeamAim"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.teammember.model.TeamMember" alias="TeamMember"/> -->
		<typeAlias type="com.mycompany.ldit.team.model.vo.Team" alias="Team"/>
		<!-- <typeAlias type="com.mycompany.ldit.workbreak.model.WorkBreak" alias="WorkBreak"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.workcomment.model.WorkComment" alias="WorkComment"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.work.model.Work" alias="Work"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.workinghourskinds.model.WorkingHoursKinds" alias="WorkingHoursKinds"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.workinghoursmanage.model.WorkingHoursManage" alias="WorkingHoursManage"/> -->
		<!-- <typeAlias type="com.mycompany.ldit.xiuxi.model.Xiuxi" alias="Xiuxi"/> -->
	</typeAliases>
	<mappers>
		<!-- <mapper resource="mappers/approvaldocfile-mapper.xml"/> -->
		<!-- <mapper resource="mappers/approvaldoctype-mapper.xml"/> -->
		<!-- <mapper resource="mappers/approvaldoc-mapper.xml"/> -->
		<!-- <mapper resource="mappers/approval-mapper.xml"/> -->
		<!-- <mapper resource="mappers/attendance-mapper.xml"/> -->
		<!-- <mapper resource="mappers/bookmark-mapper.xml"/> -->
		<!-- <mapper resource="mappers/clientneeds-mapper.xml"/> -->
		<!-- <mapper resource="mappers/department-mapper.xml"/> -->
		<!-- <mapper resource="mappers/issuecomment-mapper.xml"/> -->
		<!-- <mapper resource="mappers/issue-mapper.xml"/> -->
		<!-- <mapper resource="mappers/msg-mapper.xml"/> -->
		<!-- <mapper resource="mappers/pluswork-mapper.xml"/> -->
		<!-- <mapper resource="mappers/project-mapper.xml"/> -->
		<!-- <mapper resource="mappers/receivemsg-mapper.xml"/> -->
		<!-- <mapper resource="mappers/right-mapper.xml"/> -->
		<!-- <mapper resource="mappers/sendmsg-mapper.xml"/> -->
		<!-- <mapper resource="mappers/staff-mapper.xml"/> -->
		<!-- <mapper resource="mappers/teamaim-mapper.xml"/> -->
		<!-- <mapper resource="mappers/teammember-mapper.xml"/> -->
		<mapper resource="mappers/team-mapper.xml"/>
		<!-- <mapper resource="mappers/workbreak-mapper.xml"/> -->
		<!-- <mapper resource="mappers/workcomment-mapper.xml"/> -->
		<!-- <mapper resource="mappers/work-mapper.xml"/> -->
		<!-- <mapper resource="mappers/workinghourskinds-mapper.xml"/> -->
		<!-- <mapper resource="mappers/workinghoursmanage-mapper.xml"/> -->
		<!-- <mapper resource="mappers/xiuxi-mapper.xml"/> -->
	</mappers>
</configuration>
